C:\Users\HomePC\aces-website\backend\requirements.txt:2:amqp==5.3.1
C:\Users\HomePC\aces-website\backend\requirements.txt:3:asgiref==3.9.2
C:\Users\HomePC\aces-website\backend\requirements.txt:4:attrs==25.4.0
C:\Users\HomePC\aces-website\backend\requirements.txt:5:azure-core==1.37.0
C:\Users\HomePC\aces-website\backend\requirements.txt:6:azure-storage-blob==12.27.1
C:\Users\HomePC\aces-website\backend\requirements.txt:8:billiard==4.2.2
C:\Users\HomePC\aces-website\backend\requirements.txt:9:blinker==1.9.0
C:\Users\HomePC\aces-website\backend\requirements.txt:10:boto3==1.42.12
C:\Users\HomePC\aces-website\backend\requirements.txt:11:botocore==1.42.12
C:\Users\HomePC\aces-website\backend\requirements.txt:12:celery==5.5.3
C:\Users\HomePC\aces-website\backend\requirements.txt:13:certifi==2026.1.4
C:\Users\HomePC\aces-website\backend\requirements.txt:14:cffi==2.0.0
C:\Users\HomePC\aces-website\backend\requirements.txt:15:charset-normalizer==3.4.4
C:\Users\HomePC\aces-website\backend\requirements.txt:16:click==8.3.0
C:\Users\HomePC\aces-website\backend\requirements.txt:17:click-didyoumean==0.3.1
C:\Users\HomePC\aces-website\backend\requirements.txt:18:click-plugins==1.1.1.2
C:\Users\HomePC\aces-website\backend\requirements.txt:19:click-repl==0.3.0
C:\Users\HomePC\aces-website\backend\requirements.txt:20:colorama==0.4.6
C:\Users\HomePC\aces-website\backend\requirements.txt:21:cron_descriptor==2.0.6
C:\Users\HomePC\aces-website\backend\requirements.txt:22:cryptography==46.0.3
C:\Users\HomePC\aces-website\backend\requirements.txt:23:dj-database-url==3.0.1
C:\Users\HomePC\aces-website\backend\requirements.txt:24:Django==5.2
C:\Users\HomePC\aces-website\backend\requirements.txt:25:django-auditlog==3.3.0
C:\Users\HomePC\aces-website\backend\requirements.txt:26:django-celery-beat==2.8.1
C:\Users\HomePC\aces-website\backend\requirements.txt:27:django-cors-headers==4.7.0
C:\Users\HomePC\aces-website\backend\requirements.txt:28:django-debug-toolbar==6.0.0
C:\Users\HomePC\aces-website\backend\requirements.txt:29:django-environ==0.12.0
C:\Users\HomePC\aces-website\backend\requirements.txt:30:django-filter==25.2
C:\Users\HomePC\aces-website\backend\requirements.txt:31:django-ipware==7.0.1
C:\Users\HomePC\aces-website\backend\requirements.txt:32:django-jazzmin==3.0.1
C:\Users\HomePC\aces-website\backend\requirements.txt:33:django-prometheus==2.4.1
C:\Users\HomePC\aces-website\backend\requirements.txt:34:django-storages==1.14.6
C:\Users\HomePC\aces-website\backend\requirements.txt:35:django-structlog==9.1.1
C:\Users\HomePC\aces-website\backend\requirements.txt:36:django-timezone-field==7.1
C:\Users\HomePC\aces-website\backend\requirements.txt:37:django_celery_results==2.6.0
C:\Users\HomePC\aces-website\backend\requirements.txt:38:djangorestframework==3.16.0
C:\Users\HomePC\aces-website\backend\requirements.txt:39:djangorestframework_simplejwt==5.5.1
C:\Users\HomePC\aces-website\backend\requirements.txt:40:drf-yasg==1.21.11
C:\Users\HomePC\aces-website\backend\requirements.txt:42:greenlet==3.2.4
C:\Users\HomePC\aces-website\backend\requirements.txt:43:h11==0.16.0
C:\Users\HomePC\aces-website\backend\requirements.txt:44:idna==3.11
C:\Users\HomePC\aces-website\backend\requirements.txt:45:inflection==0.5.1
C:\Users\HomePC\aces-website\backend\requirements.txt:46:isodate==0.7.2
C:\Users\HomePC\aces-website\backend\requirements.txt:47:itsdangerous==2.2.0
C:\Users\HomePC\aces-website\backend\requirements.txt:49:jmespath==1.0.1
C:\Users\HomePC\aces-website\backend\requirements.txt:50:kombu==5.5.4
C:\Users\HomePC\aces-website\backend\requirements.txt:54:outcome==1.3.0.post0
C:\Users\HomePC\aces-website\backend\requirements.txt:55:packaging==25.0
C:\Users\HomePC\aces-website\backend\requirements.txt:57:pillow==11.3.0
C:\Users\HomePC\aces-website\backend\requirements.txt:58:prometheus_client==0.23.1
C:\Users\HomePC\aces-website\backend\requirements.txt:59:prompt_toolkit==3.0.52
C:\Users\HomePC\aces-website\backend\requirements.txt:60:pycparser==2.23
C:\Users\HomePC\aces-website\backend\requirements.txt:61:PyJWT==2.10.1
C:\Users\HomePC\aces-website\backend\requirements.txt:62:PySocks==1.7.1
C:\Users\HomePC\aces-website\backend\requirements.txt:63:python-crontab==3.3.0
C:\Users\HomePC\aces-website\backend\requirements.txt:64:python-dateutil==2.9.0.post0
C:\Users\HomePC\aces-website\backend\requirements.txt:65:python-decouple==3.8
C:\Users\HomePC\aces-website\backend\requirements.txt:66:python-dotenv==1.1.1
C:\Users\HomePC\aces-website\backend\requirements.txt:67:python-ipware==3.0.0
C:\Users\HomePC\aces-website\backend\requirements.txt:68:pytz==2025.2
C:\Users\HomePC\aces-website\backend\requirements.txt:69:PyYAML==6.0.3
C:\Users\HomePC\aces-website\backend\requirements.txt:70:qrcode==8.2
C:\Users\HomePC\aces-website\backend\requirements.txt:71:redis==6.4.0
C:\Users\HomePC\aces-website\backend\requirements.txt:72:requests==2.32.5
C:\Users\HomePC\aces-website\backend\requirements.txt:73:s3transfer==0.16.0
C:\Users\HomePC\aces-website\backend\requirements.txt:76:six==1.17.0
C:\Users\HomePC\aces-website\backend\requirements.txt:77:sniffio==1.3.1
C:\Users\HomePC\aces-website\backend\requirements.txt:78:sortedcontainers==2.4.0
C:\Users\HomePC\aces-website\backend\requirements.txt:81:sqlparse==0.5.3
C:\Users\HomePC\aces-website\backend\requirements.txt:82:structlog==25.4.0
C:\Users\HomePC\aces-website\backend\requirements.txt:83:trio==0.32.0
C:\Users\HomePC\aces-website\backend\requirements.txt:84:trio-websocket==0.12.2
C:\Users\HomePC\aces-website\backend\requirements.txt:85:typing_extensions==4.15.0
C:\Users\HomePC\aces-website\backend\requirements.txt:86:tzdata==2025.2
C:\Users\HomePC\aces-website\backend\requirements.txt:87:uritemplate==4.2.0
C:\Users\HomePC\aces-website\backend\requirements.txt:88:urllib3==2.5.0
C:\Users\HomePC\aces-website\backend\requirements.txt:89:vine==5.1.0
C:\Users\HomePC\aces-website\backend\requirements.txt:90:wcwidth==0.2.14
C:\Users\HomePC\aces-website\backend\requirements.txt:92:websocket-client==1.9.0
C:\Users\HomePC\aces-website\backend\requirements.txt:94:whitenoise==6.11.0
C:\Users\HomePC\aces-website\backend\requirements.txt:95:wsproto==1.3.2
C:\Users\HomePC\aces-website\backend\requirements.txt:96:
C:\Users\HomePC\aces-website\backend\requirements.txt:97:gunicorn==21.2.0
C:\Users\HomePC\aces-website\backend\requirements.txt:98:
C:\Users\HomePC\aces-website\backend\requirements.txt:99:psycopg2-binary==2.9.9
